@model NMS.Models.CarrierViewModels.Carrier

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Carrier</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Domain" class="control-label"></label>
                <input asp-for="Domain" class="form-control" />
                <span asp-validation-for="Domain" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoutingNumber" class="control-label"></label>
                <input asp-for="RoutingNumber" class="form-control" />
                <span asp-validation-for="RoutingNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BillingNumber" class="control-label"></label>
                <input asp-for="BillingNumber" class="form-control" />
                <span asp-validation-for="BillingNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preference" class="control-label"></label>
                <input asp-for="Preference" class="form-control" />
                <span asp-validation-for="Preference" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
