@model NMS.Models.NumberTemplateViewModels.NumberTemplate

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>NumberTemplate</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdnumberTemplate" />
            <div class="form-group">
                <label asp-for="FkNumber" class="control-label"></label>
                <input asp-for="FkNumber" class="form-control" />
                <span asp-validation-for="FkNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FkTemplate" class="control-label"></label>
                <input asp-for="FkTemplate" class="form-control" />
                <span asp-validation-for="FkTemplate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Priority" class="control-label"></label>
                <input asp-for="Priority" class="form-control" />
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Active" class="control-label"></label>
                <input asp-for="Active" class="form-control" />
                <span asp-validation-for="Active" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FkRoutingGroup" class="control-label"></label>
                <input asp-for="FkRoutingGroup" class="form-control" />
                <span asp-validation-for="FkRoutingGroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
