@model NMS.Models.NumberViewModels.Number

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Number</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Idnumber" />
            <div class="form-group">
                <label asp-for="Number1" class="control-label"></label>
                <input asp-for="Number1" class="form-control" />
                <span asp-validation-for="Number1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FkCustomer" class="control-label"></label>
                <input asp-for="FkCustomer" class="form-control" />
                <span asp-validation-for="FkCustomer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FkGroup" class="control-label"></label>
                <input asp-for="FkGroup" class="form-control" />
                <span asp-validation-for="FkGroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActiveDate" class="control-label"></label>
                <input asp-for="ActiveDate" class="form-control" />
                <span asp-validation-for="ActiveDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerDescription" class="control-label"></label>
                <input asp-for="CustomerDescription" class="form-control" />
                <span asp-validation-for="CustomerDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CeaseDate" class="control-label"></label>
                <input asp-for="CeaseDate" class="form-control" />
                <span asp-validation-for="CeaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
